<div class="form-floating">
    <h3>Title</h3>
    <input class="form-control" placeholder="title" id="floatingInput">

    <h3>Post</h3>
    <textarea style="height: 75px;" class="form-control mt-2" placeholder="Leave a comment here"
        id="floatingTextarea"></textarea>
    <button class="mt-3 post-post">Post</button>
</div>

<script src="/js/post.js"></script>